.tile {
  position: relative;
  min-height: 100px;
  overflow: hidden
}

.tile-lg {
  min-height: 200px
}

.tile-content {
  width: 100%;
  position: absolute;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 6%;
  padding-top: 10%;
  margin-bottom: -2em;
  bottom: 0;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(41,53,65,0)),color-stop(50%,rgba(41,53,65,.8)),color-stop(100%,#293541));
  background: -webkit-linear-gradient(top,rgba(41,53,65,0) 0,rgba(41,53,65,.8) 50%,#293541 100%);
  background: linear-gradient(to bottom,rgba(41,53,65,0) 0,rgba(41,53,65,.8) 50%,#293541 100%);
  background-position-y: -1px;
  transition: padding-bottom .25s ease-in-out
}

.tile-lg>.tile-content {
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 3%
}

.tile-hidden {
  opacity: 0;
  transition: opacity .25s ease-in-out
}

.tile:hover>.tile-content>.tile-hidden {
  opacity: 1
}

.tile:hover>.tile-content {
  padding-bottom: 3.5em
}
