<!------------------------------------>
<!--  FOOTER from globalgiving.org  -->
<!------------------------------------>

<section class="layout_center box_verticalPadded2">
  <div class="grid-lg-padder box_horizontalPadded3 box_verticalPadded5 layout_center">
    <div class="layout_centerVertical">

      <form action="//globalgiving.us1.list-manage.com/subscribe/post?u=3cd22f53c66be5c139fe0dc7a&amp;id=7bd2052374" method="post" class="grid-parent layout_center" target="_blank">
        <p class="grid-12 text_7n">
          Sign up for the GlobalGiving Newsletter
        </p>
        <input type="email" name="EMAIL" class="grid-8 grid-md-5 input_text col_ggPrimary5VeryLight" maxlength="200" placeholder="you@example.com" required="" title="Email address">
        <button type="submit" class="btn btn_ggPrimary2 btn_simple">Subscribe</button>
      </form>
    </div>
  </div>
</section>





<footer>

  <div class="col_ggSecondary1Darker">
    <div class="box_topPadded4 box_bottomPadded3 print_noPrint layout_centerVertical">
      <div class="grid-parent grid-padder box_lg_bottomPadded3 box_horizontalPadded2 grid-12 layout_center layout_centerVertical">
        <div class="grid-12 grid5-lg-1 box_bottomMargin3 box_lg_bottomMargin0 layout_lg_alignLeft">
          <a href="/"><img src="/img/logos/gg_horizontal_white_400.png" alt="GlobalGiving" border="0" style="width:180px; max-width:100%;"></a>
        </div>
        <div class="grid-12 grid-md-9 grid5-lg-2 box_bottomMargin3 box_lg_bottomMargin0 box_lg_rightPadded3 text_fontSizeSmaller col_ggSecondary1LighterText layout_lg_alignLeft">
          <span id="footer_descrip1">GlobalGiving makes it easy and safe for you to give to local projects anywhere in the world,</span>
          <span id="footer_descrip2">while providing nonprofits with the tools, training, and support they need to become more effective.</span>
        </div>
        <div class="grid-12 grid5-lg-1 box_bottomMargin3 box_lg_bottomMargin0 layout_lg_alignLeft">
          <a href="https://support.globalgiving.org/" target="_blank" class="btn btn_transparent btn_simple btn_ggPrimary1">Help Center</a>
        </div>
        <div class="grid-12 grid5-lg-1 box_bottomMargin3 box_lg_bottomMargin0 layout_lg_alignLeft">
          <div class="grid-9 grid-md-6 grid-lg-12">
            <div class="grid-parent">
              <div class="grid-4">
                <a href="http://facebook.com/globalgiving" class="layout_centerVertical">
                  <div class="sprite sprite_facebook_tan text_fontSizeZero">facebook</div>
                </a>
              </div>
              <div class="grid-4">
                <a href="http://twitter.com/globalgiving" class="layout_centerVertical">
                  <div class="sprite sprite_twitter_tan text_fontSizeZero">twitter</div>
                </a>
              </div>
              <div class="grid-4">
                <a href="http://instagram.com/globalgiving" class="layout_centerVertical">
                  <div class="sprite sprite_instagram_tan text_fontSizeZero">instagram</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text_fontSizeZero"><div class="grid-0 grid-lg-12 barSpacer_short col_ggSecondary1Dark"></div></div>
      <nav class="grid-12 grid-parent grid-padder box_topPadded2 box_horizontalPadded2">
        <hr class="grid-12 grid-lg-0">
        <div class="grid-12 grid5-lg-1">
          <h4 class="grid-parent box_verticalMargin1 layout_centerVertical">
            <a href="/give/" class="grid-11 grid-lg-12 col_ggPrimary1Text text_title">Donors</a>
            <a href="javascript:void(0)" class="grid-1 grid-lg-0" onclick="$(this).children().first().toggleClass('icon_chevron-rotateDown').end().end().parent().next().slideToggle();">
              <img src="/img/svg/icons/icon_chevron.svg" alt="toggle arrow" class="icon_chevron" width="16">
            </a>
          </h4>
          <div class="grid-0 grid-lg-12 text_fontSizeSmaller">
            <div class="box_bottomPadded2"><a class="col_whiteText" href="/gifts/">Give or Redeem Gift Cards</a></div>
            <div class="box_bottomPadded2"><a class="col_whiteText" href="/gifts/inhonor/">Donate in Honor</a></div>
            <div class="box_bottomPadded2"><a class="col_whiteText" href="/project-of-the-month-club/">Project of the Month Club</a></div>
            <div class="box_bottomPadded2"><a class="col_whiteText" href="/fundraisers/">Start a Fundraiser</a></div>
          </div>
        </div>
        <hr class="grid-12 grid-lg-0">
        <div class="grid-12 grid5-lg-1">
          <h4 class="grid-parent box_verticalMargin1 layout_centerVertical">
            <a href="/nonprofits/" class="grid-11 grid-lg-12 col_ggPrimary1Text text_title">Nonprofits</a>
            <a href="javascript:void(0)" class="grid-1 grid-lg-0" onclick="$(this).children().first().toggleClass('icon_chevron-rotateDown').end().end().parent().next().slideToggle();">
              <img src="/img/svg/icons/icon_chevron.svg" alt="toggle arrow" class="icon_chevron" width="16">
            </a>
          </h4>
          <div class="grid-0 grid-lg-12 text_fontSizeSmaller">
            <div class="box_bottomPadded2"><a class="col_whiteText" href="/apply/">Start an Application</a></div>
            <div class="box_bottomPadded2"><a class="col_whiteText" href="/nonprofits/">Why Join?</a></div>
            <div class="box_bottomPadded2"><a class="col_whiteText" href="http://tools.blog.globalgiving.org/">Insider Blog</a></div>
            <div class="box_bottomPadded2"><a class="col_whiteText" href="/aboutus/fee/">Pricing &amp; Fees</a></div>
          </div>
        </div>
        <hr class="grid-12 grid-lg-0">
        <div class="grid-12 grid5-lg-1">
          <h4 class="grid-parent box_verticalMargin1 layout_centerVertical">
            <a href="/companies/" class="grid-11 grid-lg-12 col_ggPrimary1Text text_title">Companies</a>
            <a href="javascript:void(0)" class="grid-1 grid-lg-0" onclick="$(this).children().first().toggleClass('icon_chevron-rotateDown').end().end().parent().next().slideToggle();">
              <img src="/img/svg/icons/icon_chevron.svg" alt="toggle arrow" class="icon_chevron" width="16">
            </a>
          </h4>
          <div class="grid-0 grid-lg-12 text_fontSizeSmaller">
            <div class="box_bottomPadded2"><a class="col_whiteText" href="/companies/">Our Services</a></div>
            <div class="box_bottomPadded2"><a class="col_whiteText" href="/companies/partners/">Our Partners</a></div>
            <!--<div class="box_bottomPadded2"><a class="col_whiteText" href="/companies/case-studies/">Case Studies</a></div>-->
            <div class="box_bottomPadded2"><a class="col_whiteText" href="/companies/gift-cards/">Corporate Gift Cards</a></div>
            <div class="box_bottomPadded2"><a class="col_whiteText" href="/csr/">CSR Made Simple</a></div>
          </div>
        </div>
        <hr class="grid-12 grid-lg-0">
        <div class="grid-12 grid5-lg-1">
          <h4 class="grid-parent box_verticalMargin1 layout_centerVertical">
            <a href="/aboutus/" class="grid-11 grid-lg-12 col_ggPrimary1Text text_title">About Us</a>
            <a href="javascript:void(0)" class="grid-1 grid-lg-0" onclick="$(this).children().first().toggleClass('icon_chevron-rotateDown').end().end().parent().next().slideToggle();">
              <img src="/img/svg/icons/icon_chevron.svg" alt="toggle arrow" class="icon_chevron" width="16">
            </a>
          </h4>
          <div class="grid-0 grid-lg-12 text_fontSizeSmaller">
            <div class="box_bottomPadded2"><a class="col_whiteText" href="/aboutus/who-we-are/staff/">Our Team</a></div>
            <!--<div class="box_bottomPadded2"><a class="col_whiteText" href="/aboutus/impact/">Our Impact</a></div>-->
            <div class="box_bottomPadded2"><a class="col_whiteText" href="/aboutus/jobs/">Jobs</a></div>
            <div class="box_bottomPadded2"><a class="col_whiteText" target="_blank" href="https://support.globalgiving.org/">FAQs</a></div>
            <div class="box_bottomPadded2"><a class="col_whiteText" href="/aboutus/contact/">Contact Us</a></div>
          </div>
        </div>
        <hr class="grid-12 grid-lg-0">
        <div class="grid-12 grid5-lg-1">
          <h4 class="grid-parent box_verticalMargin1 layout_centerVertical">
            <a href="/learn/" class="grid-11 grid-lg-12 col_ggPrimary1Text text_title">Learn Library</a>
            <a href="javascript:void(0)" class="grid-1 grid-lg-0" onclick="$(this).children().first().toggleClass('icon_chevron-rotateDown').end().end().parent().next().slideToggle();">
              <img src="/img/svg/icons/icon_chevron.svg" alt="toggle arrow" class="icon_chevron" width="16">
            </a>
          </h4>
          <div class="grid-0 grid-lg-12 text_fontSizeSmaller">
            <div class="box_bottomPadded2"><a class="col_whiteText" href="/learn/nonprofits/">Nonprofit Resources</a></div>
            <div class="box_bottomPadded2"><a class="col_whiteText" href="/learn/companies/">Corporate Giving Resources</a></div>
            <div class="box_bottomPadded2"><a class="col_whiteText" href="/learn/donors/">Donor Resources</a></div>
            <div class="box_bottomPadded2"><a class="col_whiteText" href="/learn/category/success-stories/">Success Stories</a></div>
          </div>
        </div>
        <hr class="grid-12 grid-lg-0">
      </nav>
    </div>
    <div class="text_fontSizeZero"><div class="grid-0 grid-lg-12 barSpacer_short col_ggSecondary1Dark"></div></div>
    <div class="grid-padder grid-parent layout_centerVertical box_horizontalPadded2 box_bottomPadded1">
      <a href="/aboutus/news-media/" class="grid-12 grid-lg-6 box_topPadded1 layout_center layout_lg_alignLeft">
        <div class="text_fontSizeZero">
          <div class="layout_inlineBlock box_rightPadded2"><div class="sprite sprite_wp layout_inlineBlock">Washington Post</div></div>
          <div class="layout_inlineBlock box_rightPadded2"><div class="sprite sprite_cnn layout_inlineBlock">CNN</div></div>
          <div class="layout_inlineBlock box_rightPadded2"><div class="sprite sprite_npr layout_inlineBlock">NPR</div></div>
          <div class="sprite sprite_nyt layout_inlineBlock">New York Times</div>
        </div>
      </a>
      <div class="layout_center layout_lg_alignRight grid-12 grid-lg-6 box_topPadded1 box_bottomPadded3 box_lg_bottomPadded0">
        <a href="http://www.bbb.org/charity-reviews/national/other/globalgiving-foundation-in-washington-dc-3204" target="_blank" class="box_rightPadded2 text_fontSizeZero"><div class="sprite sprite_bbb layout_inlineBlock box_rightPadded2">BBB Accredited Charity</div></a>
        <a href="http://www.charitynavigator.org/index.cfm?bay=search.summary&amp;orgid=11648" target="_blank" class="box_rightPadded2 text_fontSizeZero"><div class="sprite sprite_charityNavigator layout_inlineBlock box_rightPadded2">Charity Navigator Four Star Charity</div></a>
        <a href="https://www.mcafeesecure.com/verify?host=www.globalgiving.org" target="_blank" class="text_fontSizeZero"><div class="sprite sprite_secureSite layout_inlineBlock">SSL- and PCI-Verified Secure Site</div></a>
      </div>
    </div>
  </div>

  <div class="col_ggSecondary1 layout_centerVertical">
    <div class="grid-padder box_md_horizontalPadded2 grid-parent layout_centerVertical">
      <div class="grid-12 grid-lg-7 layout_center layout_lg_alignLeft text_fontSizeSmallest box_topPadded2 box_lg_topPadded0">
        <address class="layout_inlineBlock col_ggSecondary1LighterText text_4n">
          <!-- #### The line of text below is used in site uptime monitors. Any edits to this line need to be coordinated with DevOps #### -->
          ©&nbsp;Copyright&nbsp;2000-2019&nbsp;GlobalGiving, a&nbsp;501(c)3&nbsp;organization (EIN:&nbsp;30‑0108263;&nbsp;UK&nbsp;Charity&nbsp;#&nbsp;1122823)
          <!-- #### The line of text above is used in site uptime monitors. Any edits to this line need to be coordinated with DevOps #### -->
          <br>
          <span class="col_ggSecondary1LighterText">1110 Vermont Ave NW, Ste 550, Washington, DC 20005, USA</span>
          <span class="col_whiteText">&nbsp;&nbsp;Questions?&nbsp;&nbsp;<a class="col_ggPrimary1Text" href="/aboutus/contact/">Contact Us</a></span>
        </address>
      </div>
      <div class="grid-12 grid-lg-5 box_leftPaddedHalf layout_centerVertical grid-parent layout_center layout_lg_alignRight text_fontSizeSmallest print_noPrint text_allCaps text_7n col_ggPrimary1Text box_verticalPadded3">
        <div class="grid-12 grid-md-inline layout_center grid-parent layout_centerVertical text_fontSizeLarge layout_rel box_bottomPadded3 box_md_bottomPadded0">
          <select class="col_ggPrimary1DarkText col_transparent border_primary1 border_thin input_preventDisplay js-global-user-currency-select" title="Choose your currency">      <option value="AUD">$ AUD</option>
            <option value="CAD">$ CAD</option>
            <option value="EUR">€ EUR</option>
            <option value="GBP">£ GBP</option>
            <option selected="" value="USD">$ USD</option>
          </select>
        </div>
        <span class="grid-0 grid-md-inline box_horizontalPadded1 box_lg_horizontalPadded0">&nbsp;·&nbsp;</span>
        <a class="col_whiteText" href="/aboutus/privacy/">Privacy</a><span class="box_horizontalPadded1 box_lg_horizontalPadded0">&nbsp;·&nbsp;</span>
        <a class="col_whiteText" href="/aboutus/cookies/">Cookies</a><span class="box_horizontalPadded1 box_lg_horizontalPadded0">&nbsp;·&nbsp;</span>
        <a class="col_whiteText" href="/aboutus/terms/">Terms</a><span class="box_horizontalPadded1 box_lg_horizontalPadded0">&nbsp;·&nbsp;</span>
        <a class="col_whiteText" href="/aboutus/fee/">Pricing</a><span class="box_horizontalPadded1 box_lg_horizontalPadded0">&nbsp;·&nbsp;</span>
        <a class="col_whiteText" href="/api/">API</a><span class="box_horizontalPadded1 box_lg_horizontalPadded0">&nbsp;·&nbsp;</span>
        <a class="col_whiteText" href="/open-data/">Data</a>
      </div>
    </div>
  </div>
</footer>



<!-- ## This variable is used to include an additional JavaScript file. -->

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "https://www.globalgiving.org/",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://www.globalgiving.org/dy/v2/content/search.html?q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
</script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Organization",
    "name": "GlobalGiving",
    "alternateName": "GlobalGiving Foundation",
    "url": "https://www.globalgiving.org/",
    "logo": "https://www.globalgiving.org/img/logos/gg_vertical_color.png",
    "taxID": "30‑0108263",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Washington",
      "addressRegion": "DC",
      "postalCode": "20005",
      "streetAddress": "1110 Vermont Ave NW Ste 550"
    }
  }
</script>





<div class="col_ggPrimary1 text_7n box_padded1 grid_padder col_whiteText zindex_modal js-jsWarning" style="position: fixed; bottom: 0px; display: none;">
  <script type="text/javascript">
    <!-- hide the js warning when js is present (leaves the warning in place if js is not processed) -->
    var noscripts = document.getElementsByClassName('js-jsWarning');
    for (i = 0; i < noscripts.length; i++) {
      noscripts[i].style.display = 'none';
    }
  </script>
  WARNING: Javascript is currently disabled or is not available in your browser. GlobalGiving makes extensive use of Javascript and will not function properly with Javascript disabled. <span class="col_defaultText"><a class="col_inherit" href="http://www.enable-javascript.com/" target="_blank"> Please enable Javascript</a></span> and refresh this page.</div>





<div id="tcb-wrapper"></div><script src="https://cdn.sift.com/s.js"></script>
