<!------------------------------------>
<!--  HEADER from globalgiving.org  -->
<!------------------------------------>

<header class="border_default border_top0 border_left0 border_right0">


  <div class="grid-parent layout_centerVertical">
    <div class="grid-12 grid-parent layout_centerVertical layout_rel">
      <div class="grid-8 grid-md-5 grid-xl-4 grid-parent layout_centerVertical">
        <a href="/" class="grid-12 grid-xl-5 box_horizontalPadded2 box_verticalPadded2 layout_centerVertical">
          <img src="/img/logos/gg_horizontal_color_300.png" srcset="/img/logos/gg_horizontal_color_300.png 1x,
                          /img/logos/gg_horizontal_color_600.png 2x" alt="GlobalGiving homepage" style="width:220px; max-width:100%;">
        </a>

        <span class="grid-0 grid-xl-flex box_leftPadded2 box_verticalPadded3 layout_rel headerSearch-parent">
               &nbsp;<a href="/search/" class="box_leftPaddedHalf text_allCaps col_ggPrimary1DarkText zindex_popupTop layout_rel">Explore&nbsp;Projects</a>
               &nbsp;&nbsp;
               <img src="/img/svg/icons/search_orange.svg" width="16" height="16" alt="magnifying glass" style="margin-top: 2px;">
               <div class="grid-parent layout_abs layout_abs_left layout_abs_top zindex_popup border_default col_white headerSearch-box">
                  <span class="grid-3"></span>
<form class="grid-9 border_default layout_centerVertical layout_alignRight box_rightPadded2 box_topMarginHalf" action="/search/">
   <input class="grid-11 input_text test-searchInput" type="text" placeholder="Search by keyword" name="keywords" title="Search by keyword">
   <input type="image" src="/img/svg/icons/search.svg" width="18" alt="search">
</form>
<div class="grid-12 box_verticalPadded3 text_fontSizeSmall col_ggPrimary5LightText">Find a vetted, verified project that you want to make a donation to:</div>
<div class="grid-4 text_7n text_fontSizeSmall">
   <div class="grid-12 col_defaultText box_bottomPadded2">Top Themes</div>
   <div class="box_bottomPadded1"><a href="/themes/education/" class="col_ggPrimary5LightText">Education</a></div>
   <div class="box_bottomPadded1"><a href="/themes/women-and-girls/" class="col_ggPrimary5LightText">Women&nbsp;and&nbsp;Girls</a></div>
   <div class="box_bottomPadded1"><a href="/themes/health/" class="col_ggPrimary5LightText">Health</a></div>
   <div class="box_bottomPadded1"><a href="/themes/economic-development/" class="col_ggPrimary5LightText">Economic&nbsp;Development</a></div>
   <div class="box_bottomPadded1"><a href="/themes/environment/" class="col_ggPrimary5LightText">Environment</a></div>
   <div class="box_bottomPadded3"><a href="/themes/hunger/" class="col_ggPrimary5LightText">Hunger</a></div>
</div>
<div class="grid-8 text_7n text_fontSizeSmall">
   <div class="grid-parent">
      <div class="grid5-2">
         <div class="grid-12 col_defaultText box_bottomPadded2">Top Countries</div>
         <div class="box_bottomPadded1"><a href="/locations/india/" class="col_ggPrimary5LightText">India</a></div>
         <div class="box_bottomPadded1"><a href="/locations/united-states/" class="col_ggPrimary5LightText">United&nbsp;States</a></div>
         <div class="box_bottomPadded1"><a href="/locations/kenya/" class="col_ggPrimary5LightText">Kenya</a></div>
         <div class="box_bottomPadded1"><a href="/locations/nepal/" class="col_ggPrimary5LightText">Nepal</a></div>
         <div class="box_bottomPadded1"><a href="/locations/pakistan/" class="col_ggPrimary5LightText">Pakistan</a></div>
         <a href="/locations/mexico/" class="col_ggPrimary5LightText">Mexico</a>
      </div>
      <div class="grid5-3">
         <div class="grid-12 box_bottomPadded1"><a href="/search/?sortField=total_raised_usd" class="col_defaultText">Top&nbsp;Funded&nbsp;Projects</a></div>
         <div class="grid-12 box_bottomPadded1"><a href="/search/?sortField=approveddt_orig" class="col_defaultText">Newest&nbsp;Projects</a></div>
         <div class="grid-12 box_bottomPadded1"><a href="/search/?sortField=percent_funded" class="col_defaultText">Projects&nbsp;Closest&nbsp;to&nbsp;Goal</a></div>
         <div class="grid-12 box_bottomPadded1"><a href="/search/?selectedRecognitions=staffFavorite" class="col_defaultText">Staff&nbsp;Favorites</a></div>
         <div class="grid-12 box_bottomPadded1"><a href="/search/?selectedRecognitions=effectiveNonprofit" class="col_defaultText">Most&nbsp;Effective</a></div>
         <div class="grid-12 box_bottomPadded1"><a href="/search/?selectedRecognitions=siteVisitVerified" class="col_defaultText">Site&nbsp;Visit&nbsp;Verified</a></div>
         <a href="/search/?selectedRecognitions=topRanked" class="col_defaultText">Top&nbsp;Ranked&nbsp;Projects</a>
      </div>
   </div>
</div>
<div class="grid-12 grid-parent box_bottomPadded1">
   <div class="grid5-3"><a href="/search/" class="btn btn_simple">Browse All Projects</a></div>
   <div class="grid5-2"><a href="/themes/disaster-recovery/" class="col_ggSecondary3Text">Disaster Relief Projects</a></div>
</div>
<hr class="grid-12">
<div class="grid-12 grid-parent text_fontSizeSmall">
   <a class="grid-4 col_defaultText box_topPadded2 box_bottomPadded1" href="/gifts/">Give a Gift Card</a>
   <div class="grid-8 grid-parent">
      <a class="grid5-2 col_defaultText box_topPadded2 box_bottomPadded1" href="/gifts/inhonor/">Donate in Honor</a>
      <a class="grid5-3 col_defaultText box_topPadded2 box_bottomPadded1" href="/fundraisers/">Start a Fundraiser</a>
   </div>
   <a class="grid-4 col_defaultText box_topPadded1" href="/gifts/redeem.html">Redeem a Gift Card</a>
   <a class="grid-8 col_defaultText box_topPadded1" href="/project-of-the-month-club/">Project of the Month Club</a>
</div>
               </div>
            </span>

      </div>


      <div class="grid-0 grid24-xl-13 grid-xl-flex text_fontSizeSmall ">
        <nav class="grid-12 grid-parent layout_centerVertical layout_alignRight">
          <div class="grid-12">
            <a href="/aboutus/" class="col_ggPrimary5Text link_subtle text_4n">About&nbsp;Us</a>
            <a href="/learn/" class="col_ggPrimary5Text link_subtle box_leftPadded2 text_4n">Learn&nbsp;Library</a>
            <a href="/companies/" class="col_ggPrimary5Text link_subtle box_leftPadded2 text_4n">Corporate<span class="grid-0 grid-xxl-inline">&nbsp;Giving</span></a>
            <a href="/disasters/" class="col_ggPrimary5Text link_subtle box_leftPadded2 text_4n">Disasters</a>
            <a href="/gifts/" class="col_ggPrimary1Text link_subtle box_leftPadded2 text_7n"><img src="/img/icons/giftcard_orange.svg" alt="Gift Card" border="0" style="padding-right: 5px; vertical-align: middle; height: 19px;">Gift Cards</a>
          </div>
        </nav>
      </div>
      <div class="grid-4 grid-md-3 grid-ml-2 grid24-xl-3 layout_centerVertical layout_alignRight box_rightPadded2">
        <a href="/dy/v2/checkout/billing/" class="layout_centerVertical layout_rel link_subtle">
          <img src="/img/svg/icons/giving_cart.svg" width="35" height="35" class="layout_block" alt="giving cart">
          <span class="js-cartItems"></span>
        </a>
        <span class="col_ggPrimary3Text box_leftPadded5 box_rightPadded6 layout_inlineBlock js-login">   <a id="login_link" href="/dy/v2/login/form.html?andthen=https://www.globalgiving.org/">Login</a><br>
</span>
      </div>
    </div>
    <nav class="grid-12 grid-xl-0 layout_centerVertical border_default border_left0 border_right0 border_bottom0 box_verticalPadded2 box_horizontalPadded1 text_fontSizeSmall layout_center">
      <a href="/search/" class="grid-xl-0 text_allCaps col_ggPrimary1DarkText layout_rel" style="white-space: nowrap;"><img src="/img/svg/icons/search_orange.svg" width="16" height="16" alt="magnifying glass" style="vertical-align: middle;"><span>&nbsp;Explore</span><span class="grid-0 grid-md-inline">&nbsp;Projects</span></a><a href="/aboutus/" class="col_ggPrimary5Text link_subtle text_4n box_leftPadded3">About<span class="grid-0 grid-ml-inline">&nbsp;Us</span></a><a href="/learn/" class="col_ggPrimary5Text link_subtle text_4n box_horizontalPadded3">Learn<span class="grid-0 grid-ml-inline">&nbsp;Library</span></a><a href="/companies/" class="grid-0 grid-sm-inline col_ggPrimary5Text link_subtle text_4n box_rightPadded3">Corporate<span class="grid-0 grid-lg-inline">&nbsp;Giving</span></a><a href="/disasters/" class="col_ggPrimary5Text link_subtle text_4n box_rightPadded3">Disasters</a><a href="/gifts/" class="grid-0 grid-md-inline col_ggPrimary1Text link_subtle text_7n"><img src="/img/icons/giftcard_orange.svg" alt="Gift Card" border="0" style="padding-right: 5px; vertical-align: middle; height: 19px;" class="grid-0 grid-ml-inline">Gift<span class="grid-0 grid-ml-inline"> Card</span>s</a>
    </nav>

  </div>
</header>



<div class="grid-parent js-tileParent">
  <div class="grid-12 grid-lg-6 grid-spacer js-tileMain">


    <div class="tile tile-lg col_ggSecondary1Darker layout_rel" style="height: 454px;">

      <a href="/projects/computer-literacy-for-kenyan-schoolchildren/" onclick="gg.tracking.assignRefAndConversionCode('homepage'); return true;"><img src="https://files.globalgiving.org/pfil/13015/pict_featured_large.jpg?m=1575297757000" class="img-cover" id="js-mainPhoto" srcset="https://files.globalgiving.org/pfil/13015/pict_featured.jpg?m=1575297757000 480w, https://files.globalgiving.org/pfil/13015/pict_featured_large.jpg?m=1575297757000 920w, https://files.globalgiving.org/pfil/13015/pict_featured_jumbo.jpg?m=1575297757000 1840w" sizes="(min-width: 64em) 50vw, 100vw" alt="Empower, Engage, Educate in Rural Kenya!"></a>
      <div class="tile-content col_whiteText">
        <a href="/projects/computer-literacy-for-kenyan-schoolchildren/"><span class="link_linkify text_fontSizeZero">Empower, Engage, Educate in Rural Kenya!</span></a>

        <div class="col_ggSecondary1LighterText">
          <a href="/dy/v2/content/search.html?q=*&amp;fq=country:Kenya" class="col_ggSecondary1LighterText text_fontSizeSmaller text_allCaps zindex_linkify layout_rel">Kenya</a>
          <h2 class="text_fontSizeLarger text_title text_4n box_topMarginHalf"><a href="/projects/computer-literacy-for-kenyan-schoolchildren/" class="link_subtle col_whiteText zindex_linkify layout_rel" onclick="gg.tracking.assignRefAndConversionCode('homepage'); return true;">Empower, Engage, Educate in Rural Kenya!</a></h2>
        </div>
        <div class="tile-hidden layout_center">
          <a href="/projects/computer-literacy-for-kenyan-schoolchildren/" class="grid-6 btn btn_short box_topMargin1 zindex_linkify">Donate</a>
        </div>

      </div>
    </div>
  </div>
  <div class="grid-12 grid-lg-6 grid-parent layout_hideOverflow js-tileSecondary">
    <div class="grid-6 grid-spacer">


      <div class="tile col_ggSecondary1Darker layout_rel" style="height: 226px;">

        <a href="/projects/projectmaji/" onclick="gg.tracking.assignRefAndConversionCode('homepage'); return true;"><img src="https://files.globalgiving.org/pfil/32263/pict_featured.jpg?m=1572466399000" class="img-cover" srcset="https://files.globalgiving.org/pfil/32263/pict_featured.jpg?m=1572466399000 480w, https://files.globalgiving.org/pfil/32263/pict_featured_large.jpg?m=1572466399000 920w, https://files.globalgiving.org/pfil/32263/pict_featured_jumbo.jpg?m=1572466399000 1840w" sizes="(min-width: 64em) 25vw, 50vw" alt="Sustainable Solar-Powered Water Kiosks in Ghana"></a>
        <div class="tile-content col_whiteText">
          <a href="/projects/projectmaji/"><span class="link_linkify text_fontSizeZero">Sustainable Solar-Powered Water Kiosks in Ghana</span></a>


          <div class="col_ggSecondary1LighterText text_lineHeightNatural">
            <a href="/dy/v2/content/search.html?q=*&amp;fq=country:Ghana" class="col_ggSecondary1LighterText text_fontSizeSmaller text_allCaps zindex_linkify layout_rel">Ghana</a>
            <h4 class="text_fontSizeBase text_lineHeightMedium box_topMargin1"><a href="/projects/projectmaji/" class="link_subtle col_whiteText zindex_linkify layout_rel" onclick="gg.tracking.assignRefAndConversionCode('homepage'); return true;">Sustainable Solar-Powered Water Kiosks in Ghana</a></h4>
          </div>
          <div class="tile-hidden">
            <a href="/projects/projectmaji/" class="grid-12 btn btn_short box_topMargin2 zindex_linkify" onclick="gg.tracking.assignRefAndConversionCode('homepage'); return true;">Donate</a>
          </div>

        </div>
      </div>
    </div>
    <div class="grid-6 grid-spacer">


      <div class="tile col_ggSecondary1Darker layout_rel" style="height: 226px;">

        <a href="/projects/emergency-vet-care-for-pets-of-the-homeless/" onclick="gg.tracking.assignRefAndConversionCode('homepage'); return true;"><img src="https://files.globalgiving.org/pfil/16863/pict_featured.jpg?m=1574791090000" class="img-cover" srcset="https://files.globalgiving.org/pfil/16863/pict_featured.jpg?m=1574791090000 480w, https://files.globalgiving.org/pfil/16863/pict_featured_large.jpg?m=1574791090000 920w" sizes="(min-width: 64em) 25vw, 50vw" alt="Emergency Veterinary Care for Pets of the Homeless"></a>
        <div class="tile-content col_whiteText">
          <a href="/projects/emergency-vet-care-for-pets-of-the-homeless/"><span class="link_linkify text_fontSizeZero">Emergency Veterinary Care for Pets of the Homeless</span></a>


          <div class="col_ggSecondary1LighterText text_lineHeightNatural">
            <a href="/dy/v2/content/search.html?q=*&amp;fq=country:United%20States" class="col_ggSecondary1LighterText text_fontSizeSmaller text_allCaps zindex_linkify layout_rel">United States</a>
            <h4 class="text_fontSizeBase text_lineHeightMedium box_topMargin1"><a href="/projects/emergency-vet-care-for-pets-of-the-homeless/" class="link_subtle col_whiteText zindex_linkify layout_rel" onclick="gg.tracking.assignRefAndConversionCode('homepage'); return true;">Emergency Veterinary Care for Pets of the Homeless</a></h4>
          </div>
          <div class="tile-hidden">
            <a href="/projects/emergency-vet-care-for-pets-of-the-homeless/" class="grid-12 btn btn_short box_topMargin2 zindex_linkify" onclick="gg.tracking.assignRefAndConversionCode('homepage'); return true;">Donate</a>
          </div>

        </div>
      </div>
    </div>
    <div class="grid-6 grid-spacer">


      <div class="tile col_ggSecondary1Darker layout_rel" style="height: 226px;">

        <a href="/projects/clean-water-sanitation-initiative-for-rural-haiti/" onclick="gg.tracking.assignRefAndConversionCode('homepage'); return true;"><img src="https://files.globalgiving.org/pfil/30558/pict_featured.jpg?m=1574112975000" class="img-cover" srcset="https://files.globalgiving.org/pfil/30558/pict_featured.jpg?m=1574112975000 480w, https://files.globalgiving.org/pfil/30558/pict_featured_large.jpg?m=1574112975000 920w, https://files.globalgiving.org/pfil/30558/pict_featured_jumbo.jpg?m=1574112975000 1840w" sizes="(min-width: 64em) 25vw, 50vw" alt="Clean Water-Sanitation Initiative for Rural Haiti"></a>
        <div class="tile-content col_whiteText">
          <a href="/projects/clean-water-sanitation-initiative-for-rural-haiti/"><span class="link_linkify text_fontSizeZero">Clean Water-Sanitation Initiative for Rural Haiti</span></a>


          <div class="col_ggSecondary1LighterText text_lineHeightNatural">
            <a href="/dy/v2/content/search.html?q=*&amp;fq=country:Haiti" class="col_ggSecondary1LighterText text_fontSizeSmaller text_allCaps zindex_linkify layout_rel">Haiti</a>
            <h4 class="text_fontSizeBase text_lineHeightMedium box_topMargin1"><a href="/projects/clean-water-sanitation-initiative-for-rural-haiti/" class="link_subtle col_whiteText zindex_linkify layout_rel" onclick="gg.tracking.assignRefAndConversionCode('homepage'); return true;">Clean Water-Sanitation Initiative for Rural Haiti</a></h4>
          </div>
          <div class="tile-hidden">
            <a href="/projects/clean-water-sanitation-initiative-for-rural-haiti/" class="grid-12 btn btn_short box_topMargin2 zindex_linkify" onclick="gg.tracking.assignRefAndConversionCode('homepage'); return true;">Donate</a>
          </div>

        </div>
      </div>
    </div>
    <div class="grid-6 grid-spacer">


      <div class="tile col_ggSecondary1Darker layout_rel" style="height: 226px;">

        <a href="/projects/children-with-disabilities-hydrotherapy-program/" onclick="gg.tracking.assignRefAndConversionCode('homepage'); return true;"><img src="https://files.globalgiving.org/pfil/31073/pict_featured.jpg?m=1575490797000" class="img-cover" srcset="https://files.globalgiving.org/pfil/31073/pict_featured.jpg?m=1575490797000 480w, https://files.globalgiving.org/pfil/31073/pict_featured_large.jpg?m=1575490797000 920w, https://files.globalgiving.org/pfil/31073/pict_featured_jumbo.jpg?m=1575490797000 1840w" sizes="(min-width: 64em) 25vw, 50vw" alt="Children with Disabilities Hydrotherapy in Ukraine"></a>
        <div class="tile-content col_whiteText">
          <a href="/projects/children-with-disabilities-hydrotherapy-program/"><span class="link_linkify text_fontSizeZero">Children with Disabilities Hydrotherapy in Ukraine</span></a>


          <div class="col_ggSecondary1LighterText text_lineHeightNatural">
            <a href="/dy/v2/content/search.html?q=*&amp;fq=country:Ukraine" class="col_ggSecondary1LighterText text_fontSizeSmaller text_allCaps zindex_linkify layout_rel">Ukraine</a>
            <h4 class="text_fontSizeBase text_lineHeightMedium box_topMargin1"><a href="/projects/children-with-disabilities-hydrotherapy-program/" class="link_subtle col_whiteText zindex_linkify layout_rel" onclick="gg.tracking.assignRefAndConversionCode('homepage'); return true;">Children with Disabilities Hydrotherapy in Ukraine</a></h4>
          </div>
          <div class="tile-hidden">
            <a href="/projects/children-with-disabilities-hydrotherapy-program/" class="grid-12 btn btn_short box_topMargin2 zindex_linkify" onclick="gg.tracking.assignRefAndConversionCode('homepage'); return true;">Donate</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function setTileHeights(){for(var e=window.innerWidth||document.documentElement.clientWidth||document.getElementsByTagName("body")[0].clientWidth,t=e<1024?1:2,i=document.getElementsByClassName("tile"),n=1;n<5;n++)i[n].style.height=Math.round(e/t/3-4)+"px";document.getElementsByClassName("tile-lg")[0].style.height=2*Math.round(e/t/3)-6+"px"}setTileHeights(),window.addEventListener?window.addEventListener("resize",setTileHeights,!1):window.attachEvent?window.attachEvent("onresize",setTileHeights):window.onresize=setTileHeights;
</script>



<div class="triangle-parent">
  <div class="triangle triangle_bottom triangle_small triangle_white grid-0 grid-lg-12 js-selector2" style="left: 201px;"></div>
</div>
<div class="grid-parent col_ggPrimary5VeryLight box_horizontalPadded2 layout_center layout_centerVertical col_ggPrimary5Text">
  <span class="grid-12 grid-lg-1 text_fontSizeSmall box_verticalPadded2 text_allCaps">Explore Projects:</span>

  <a class="grid-4 grid-md-2 grid-lg-1 text_fontSizeSmall box_verticalPadded2 col_ggPrimary5DarkText js-searchFilterFeatured js-selector2-target" href="javascript:void(0)">Featured</a>
  <a class="grid-4 grid-md-2 grid-lg-1 text_fontSizeSmall box_verticalPadded2 col_ggPrimary5DarkText js-searchFilter" href="javascript:void(0)" data-filter="sortField=approveddt_orig">Newest</a>
  <a class="grid-4 grid-md-2 grid-lg-1 text_fontSizeSmall box_verticalPadded2 col_ggPrimary5DarkText js-searchFilter" href="javascript:void(0)" data-filter="sortField=percent_funded">Nearly Funded</a>
  <a class="grid-4 grid-md-2 grid-lg-1 text_fontSizeSmall box_verticalPadded2 col_ggPrimary5DarkText js-searchFilter" href="javascript:void(0)" data-filter="selectedThemes=children">Children</a>
  <a class="grid-4 grid-md-2 grid-lg-1 text_fontSizeSmall box_verticalPadded2 col_ggPrimary5DarkText js-searchFilter" href="javascript:void(0)" data-filter="selectedThemes=disaster">Disaster</a>
  <a class="grid-4 grid-md-2 grid-lg-1 text_fontSizeSmall box_verticalPadded2 col_ggPrimary5DarkText js-searchFilter" href="javascript:void(0)" data-filter="selectedThemes=edu">Education</a>
  <a class="grid-4 grid-md-2 grid-lg-1 text_fontSizeSmall box_verticalPadded2 col_ggPrimary5DarkText js-searchFilter" href="javascript:void(0)" data-filter="selectedThemes=env">Environment</a>
  <a class="grid-4 grid-md-2 grid-lg-1 text_fontSizeSmall box_verticalPadded2 col_ggPrimary5DarkText js-searchFilter" href="javascript:void(0)" data-filter="selectedThemes=health">Health</a>
  <a class="grid-4 grid-md-2 grid-lg-1 text_fontSizeSmall box_verticalPadded2 col_ggPrimary5DarkText js-searchFilter" href="javascript:void(0)" data-filter="selectedThemes=tech">Technology</a>
  <a class="grid-4 grid-md-2 grid-lg-1 text_fontSizeSmall box_verticalPadded2 col_ggPrimary5DarkText js-searchFilter" href="javascript:void(0)" data-filter="selectedThemes=gender">Women &amp; Girls</a>

  <a href="/search/" class="grid-12 grid-lg-1 text_fontSizeSmall col_ggPrimary5Text box_verticalPadded2 text_allCaps">See All ›</a>
</div>
